@import '../vars';
.fbMenuNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fbMenuNav--list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.fbMenuNav--list--item {
  font-size: 1.5rem;
  a {
    display: block;
    padding: 1.2rem 0.8rem;
  }
}
.fbMenuNav--list--item:first-child {
  a {
    padding-right: 0;
  }
}
