@import "vars.scss";
html {
  font-size: 10px;
  font-family: 'iranYekanWeb', 'WeblogmaYekan', sans-serif;
}
body {
  color: $bodyTextColor;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul, ol {
  list-style-type: none;
}
[class*="icon-"] {
  text-decoration: none !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darken($zircon, 20);
}
::-moz-placeholder { /* Firefox 19+ */
  color: darken($zircon, 20);
}
:-ms-input-placeholder { /* IE 10+ */
  color: darken($zircon, 20);
}
:-moz-placeholder { /* Firefox 18- */
  color: darken($zircon, 20);
}
