@import "vars.scss";
html {
  font-size: 10px;
  font-family: 'iranYekanWeb', 'WeblogmaYekan', sans-serif;
}
body {
  color: $bodyTextColor;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul, ol {
  list-style-type: none;
}
[class*="icon-"] {
  text-decoration: none !important;
}
