@import "vars";
.fbNav {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fbNav--list{
  display: flex;
  align-items: center;
}
.fbNav--listItem {
  display: none;
}
.fbNav--mobileList {
  user-select: none;
  background-color: white;
  position: relative;
  top: -1px;
  width: 100%;
  z-index: 10;
  transition: height 1s;
  border-bottom: 1px solid $zircon;
  & > li {
    width: 100%;
    & > a {
      padding: 10px 20px;
      height: 25px;
      display: block;
      line-height: 25px;
      &:hover {
        color: $linkHoverTextColor;
      }
    }
  }
}
.fbLogo {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.7rem;
}
.fbNav--listItem {
  display: none;
}

.fbSlider {
  overflow-y: hidden;
  max-height: 270px;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 0.8, 0.5, 1);
}
.fbSlider-is-closed {
  max-height: 1px;
}


@media only screen and (min-width: 768px) {
  .fbNav--bars {
    display: none;
  }
  .fbNav--mobileList {
    display: none;
  }
  .fbNav--listItem {
    display: block;
    padding: 0 14px;
    height: 100%;
    line-height: 64px; // @FIXME

    &:hover {
      color: $linkHoverTextColor;
    }
  }
}

@media only screen and (min-width: 992px) {

}

