@import "vars";
.fbHeroWrapper {
  width: 100%;
  position: relative;
}
.fbHeroWrapper--image {
  background-image: url('/public/img/homepage_steakpepp_hero_tablet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 30vh;
}
.fbHero {
  //background-color: powderblue;
  padding: 20px;
}
.fbHero--header {
  //background-color: #e1e1e1;
  text-align: center;
}
.fbHero--headerHeading {
  font-size: 2.5rem;
  line-height: 4.4rem;
  font-weight: 400;
  margin: 16px 0 16px 0;
}
.fbHero--headerSubheading {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: $oxley;
  span {
    padding: 0 6px;
    color: $bodyTextColor;
  }
}
.fbHero--form {
  margin: 0 auto;
  max-width: 400px;
  button {
    font-weight: 100;
    margin-top: 0.8rem;
    font-size: 1.3rem;
  }
}
.fbHero--footer {
  font-size: 1.1rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 400px;
  text-align: center;
  p {
    color: #333;
    font-size: inherit;
    padding: 0.5rem;
  }
}
.fbHero--footerLoginBtn {
  padding: 0 5px;
}
.fbHero--footerTerms {
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  .fbHeroWrapper--image {
    height: 40vh;
  }
  .fbHero--form,
  .fbHero--footer {
    max-width: 500px;
  }
  .fbHero--form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input {
      flex-basis: 43%;
    }
  }
}
@media only screen and (min-width: 992px) {
  .fbHeroWrapper--image {
    display: none;
  }
  .fbHeroWrapper {
    min-height: 600px;
    background-image: url('/public/img/homepage_steakpepp_hero_desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-position: left bottom 78%;
  }
  .fbHero {
    background-color: rgba(255, 255, 255, 0.85);
    width: 485px;
    float: left;
    margin-top: 7rem;
    margin-left: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .fbHero {
    margin-left: 45%;
  }
}
@media only screen and (min-width: 1500px) {
  .fbHero {
    margin-left: 55%;
  }
}
