.fbSlider {
  overflow-y: hidden;
  max-height: 270px;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 0.8, 0.5, 1);
}
.fbSlider-is-closed {
  max-height: 1px;
}
