* {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

html, body, p, div, form, ul, ol, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: normal; }

input {
  outline: none;
  border: none; }

html {
  font-size: 10px;
  font-family: 'iranYekanWeb', 'WeblogmaYekan', sans-serif; }

body {
  color: #003300; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

ul, ol {
  list-style-type: none; }

[class*="icon-"] {
  text-decoration: none !important; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aeaeae; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aeaeae; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #aeaeae; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #aeaeae; }

/** sticky footer **/
html, body, #app, .layout-container {
  height: 100%; }

.layout-container {
  display: flex;
  flex-direction: column; }

.layout-content {
  flex: 1 0 auto; }

/** end of sticky footer **/
.layout-header {
  height: 64px;
  width: 100%; }

.layout-nav {
  height: 100%;
  padding: 0 20px; }

.layout-hero {
  width: 100%; }

.layout-footer {
  width: 100%; }

@media only screen and (min-width: 768px) {
  .layout-header {
    border-bottom: 1px solid #e1e1e1; } }
@media only screen and (min-width: 1366px) {
  .layout-footer {
    max-width: 1350px;
    margin: 0 auto; } }
.fbInput {
  display: inline-block;
  width: 100%;
  padding: 4px 12px;
  border: 1px solid #e1e1e1;
  border-radius: 1px;
  line-height: 30px;
  font-family: inherit;
  font-size: 1.3rem;
  color: inherit;
  margin-bottom: 10px; }

.fbInput-rightLeft {
  direction: rtl; }
  .fbInput-rightLeft::placeholder {
    direction: ltr; }

.fbInput-leftRight {
  direction: ltr; }
  .fbInput-leftRight::placeholder {
    direction: rtl; }

.fbInput-en {
  direction: ltr;
  letter-spacing: 1px; }
  .fbInput-en::placeholder {
    direction: rtl; }

.fbLinkBox {
  color: inherit;
  font: inherit;
  display: inline-block;
  padding: 6px 12px; }

.fbLinkBox-square {
  padding: 12px 12px; }

.fbBtn {
  display: inline-block;
  padding: 6px 12px;
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border-radius: 2px;
  text-align: center; }

.fbBtn-primary {
  color: white;
  background-color: #33bb77; }
  .fbBtn-primary:hover {
    background-color: #2a9b63; }
  .fbBtn-primary:active {
    background-color: #f2b90c; }

.fbBtn-bare {
  background-color: inherit;
  color: inherit;
  padding: 0; }

.fbBtn-square-m {
  width: 20px;
  height: 20px;
  font-size: 20px; }

.fbBtn-square-l {
  width: 30px;
  height: 30px;
  font-size: 30px; }

.fbNav {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.fbNav--list {
  display: flex;
  align-items: center; }

.fbNav--listItem {
  display: none; }

.fbNav--mobileList {
  user-select: none;
  background-color: white;
  position: relative;
  top: -1px;
  width: 100%;
  z-index: 10;
  transition: height 1s;
  border-bottom: 1px solid #e1e1e1; }
  .fbNav--mobileList > li {
    width: 100%; }
    .fbNav--mobileList > li > a {
      font-size: 1.18rem;
      padding: 10px 20px;
      height: 25px;
      display: block;
      line-height: 25px; }
      .fbNav--mobileList > li > a:hover {
        color: #33bb77; }

.fbLogo {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.7rem; }

.fbNav--listItem {
  display: none; }

.fbSlider {
  overflow-y: hidden;
  max-height: 270px;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0.8, 0.5, 1); }

.fbSlider-is-closed {
  max-height: 1px; }

@media only screen and (min-width: 768px) {
  .fbNav--bars {
    display: none; }

  .fbNav--mobileList {
    display: none; }

  .fbNav--listItem {
    display: block;
    padding: 0 14px;
    height: 100%;
    line-height: 64px; }
    .fbNav--listItem:hover {
      color: #33bb77; } }
.fbFooter {
  padding: 25px 0 20px 0;
  border-top: 1px solid #e1e1e1;
  font-size: 1.3rem;
  color: #666666; }
  .fbFooter a:hover {
    text-decoration: underline;
    color: #000; }

.fbFooter--mobileList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 340px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 15px; }

.fbFooter--mobileSocialLinks {
  display: flex;
  justify-content: space-around;
  max-width: 240px;
  margin: 0 auto;
  font-size: 1.8rem; }
  .fbFooter--mobileSocialLinks a:hover {
    text-decoration: none; }

.fbFooter--mobileCopyRight {
  color: #959595;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center; }

.fbFooter--desktop {
  display: none;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 0 20px;
  font-weight: 400;
  font-size: 1.1rem; }

.fbFooter--desktopCol {
  text-align: right;
  padding: 0 10px; }
  .fbFooter--desktopCol > li a {
    padding: 6px 0;
    display: inline-block;
    height: 100%; }

.fbFooter--desktopColHeading {
  color: #003300;
  font-weight: 900;
  font-size: 1.3rem;
  margin-bottom: 1rem; }

.fbFooter--desktopLogo {
  font-size: 2.7rem;
  font-family: 'Reem Kufi', 'iranYekanWeb', sans-serif;
  color: #003300;
  margin-bottom: 1rem; }

.fbFooter--desktopColSocialHeading {
  margin-bottom: 1.5rem; }

.fbFooter--desktopColSocialRow {
  width: 5.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-top: 0.5rem; }
  .fbFooter--desktopColSocialRow a:hover {
    text-decoration: none; }

@media only screen and (min-width: 768px) {
  .fbFooter--mobile {
    display: none; }

  .fbFooter--desktop {
    display: flex; } }
.fbHeroWrapper {
  width: 100%;
  position: relative; }

.fbHeroWrapper--image {
  background-image: url("/public/img/homepage_steakpepp_hero_tablet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 30vh; }

.fbHero {
  padding: 10px 30px 20px 30px; }

.fbHero--header {
  text-align: center; }

.fbHero--headerHeading {
  font-size: 2.5rem;
  line-height: 4.4rem;
  font-weight: 400;
  margin: 16px 0 6px 0; }

.fbHero--headerSubheading {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #739d73; }
  .fbHero--headerSubheading span {
    padding: 0 6px;
    color: #003300; }

.fbHero--form {
  margin: 0 auto;
  max-width: 400px; }

@media only screen and (min-width: 768px) {
  .fbHeroWrapper--image {
    height: 40vh; } }
@media only screen and (min-width: 992px) {
  .fbHeroWrapper--image {
    display: none; }

  .fbHeroWrapper {
    min-height: 600px;
    background-image: url("/public/img/homepage_steakpepp_hero_desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    backgroun-position: left bottom 78%; } }

/*# sourceMappingURL=index.css.map */
