@import "vars";
.layout-header {
  height: 64px;
  width: 100%;
  font-size: 1.28rem;
}
.layout-nav {
  height: 100%;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .layout-header {
    border-bottom: 1px solid $headerBorderBottom;
  }
}
