@import "vars";
.layout-header {
  height: 64px;
  width: 100%;
}
.layout-nav {
  height: 100%;
  padding: 0 20px;
}
.layout-footer {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .layout-header {
    border-bottom: 1px solid $headerBorderBottom;
  }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1366px) {
  .layout-footer {
    max-width: 1350px;
    margin: 0 auto;
  }
}
