$oxley: #739d73; // rgb(115, 157, 115)
$mountainMeadow: #33bb77;
$elfGreen: #28935e;
$lochinvar: #339977;
$deepFir: #003300;

$yellow: #f2b90c;

$outrageousOrange: #F96F48; // rgb(242, 114, 66);

$zircon: #e1e1e1; // rgb(225, 225, 225)
$steel: #666666; // rgb(102, 102, 102)
$aluminum: #999999;
$stardust: #a0a0a0; // rgb(160, 160, 160)
$monsoon : #787878; // rgb(120, 120, 120)
$iron: #cccccc;
$gallery: #f0f0f0;
$concrete: #f2f2f2;
$blackHaze: #f7f7f7;

$ferrariRed: #ff3300; // rgb(255, 51, 0);

$bodyTextColor: $deepFir;
$linkHoverTextColor: $mountainMeadow;
$headerBorderBottom: $zircon;
$primaryBtnBgColor: $mountainMeadow;
$footerLinkColor: $steel;

$primaryFont: 'iranYekanWeb', sans-serif;
$secondaryFont: 'cairo', 'iranYekanWeb', 'sans-serif';

$desktopMaxWidth: 1200px;
$tabletBreakPoint: 992px;
$phoneBreakPoint: 768px;
$miniPhoneBreakPoint: 320px;
