$mountainMeadow: #33bb77;
$elfGreen: #28935e;
$lochinvar: #339977;
$deepFir: #003300;

$yellow: #f2b90c;

$zircon: #e1e1e1;

$bodyTextColor: $deepFir;
$linkHoverTextColor: $mountainMeadow;
$headerBorderBottom: $zircon;
$primaryBtnBgColor: $mountainMeadow;
